.App {
  text-align: center;
  background-color: #FFB5C3;
  width: 100vw;
  height: 100%;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

.resize {
  width: 35px;
  height: auto;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
    
  /* max-width: 95%; */
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  padding-top: 10px;
  padding-bottom: 100px;
  flex-direction: column;
 
}

.board {

  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 0;
  min-width: 80%;
  min-height: 50%;
  max-width: 90;
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
  
}

.row {
  flex: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  
}

.letter {
  justify-content: center;
  flex: 10%;
  max-width: 65px;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

#correct {
  background-color: #a3dd6c;
}

#almost {
  background-color: #F7DA63;
}

#error {
  background-color: #cd5e77;
}

.keyboard {
  /* align-self; */
  max-height: 40%;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  border: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  /* flex-grow: 1;
  flex-shrink: 1; */
  margin-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.line1 {
  max-width: 100%;
  align-items: center;
  display: flex;
  border: none;
  justify-content: space-evenly;
  
  flex-wrap: nowrap;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex: 33%;*/
  flex-direction: row; 
  margin: 2px;
}
.line2 {
  flex-wrap: nowrap;
  max-width: 100%;
  display: flex;
  border: none;
  /* flex-grow: 1;
  flex-shrink: 1;*/
  flex: 33%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}
.line3 {
  flex-wrap: nowrap;
  max-width: 100%;
  display: flex;
  border: none;
  justify-content: space-evenly;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex: 33%; */
  flex-direction: row;
  margin: 2px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: #cd5e77;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #707070;
}